<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">rel="stylesheet">

    <title>Página Principal</title>
</head>
<body>
    <div>
        <h1>Crie sua Postagem</h1>
        <form enctype = "multipart/form-data" method = "POST">
            {% csrf_token %}
            {{ formulario.as_p }}
            <button type="submit"> Salvar </button>
        </form>
    </div>

</body>
</html>